#menu {
    background: #D9C4BE;
    padding: 5px 15px;
    text-align: center;
}

#menu li {
    display: inline-block;
    /* list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;*/
    font-family: Arial;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.p {
    font-family: arial;
    font-size: 16px;
    color: #C70039;
    line-height: 1.5;
    text-align: justify;
}

.caja-parrafo {
    font-family: arial;
    font-size: 16px;
    font-weight: 200px;
    color: #ffffff;
    background: #889ccf;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    display: middle;
    /*   width: 900px;
    height: 300px;*/
    align-items: center;
    /* justify-content: center;*/
    /*float: center;*/
    /*vertical-align: middle;*/
}

#agrupar {
    width: 960px;
    margin: 15px auto;
    text-align: center;
}

#cabecera {
    /* background: #FA91BE;*/
    font-family: Arial;
    font-size: 28px;
    /*border: 1px solid #999999*/
}


/**FORMULARIO */

label {
    display: block;
    margin-top: 20px;
    letter-spacing: 1px;
}

.formulario {
    display: block;
    margin: 0 auto;
    width: 510px;
    color: #666666;
    font-family: Arial;
}

form {
    margin: 0 auto;
    width: 400px;
}

input,
textarea {
    width: 380px;
    height: 27px;
    /* background: #666666;*/
    border: 2px solid #f6f6f6;
    padding: 10px;
    margin-top: 5px;
    font-size: 10px;
    /*color: #ffffff;*/
}

textarea {
    height: 150px;
}

#submit {
    width: 85px;
    height: 35px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}


/**FORMULARIO */

.img-redes {
    width: 40px;
}

.img-prod {
    width: 400px;
    height: 400px;
}

.cajas {
    width: calc(33% - 40px);
    margin: 20px;
    height: auto;
    background: rgb(222, 222, 222);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    float: center;
}

.con-cajas {
    display: flex;
    align-items: center;
    justify-content: center;
}